@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

:root{
    /* COLOR */
    --dark:#13183F;
    --dark-hover:#666CA3;
    --light:#83869A;
    --accent:#F74780;
    --accent-hover:#FFA7C3; 
    --gradient1:linear-gradient(rgba(255, 111, 72, 1),rgba(240, 42, 166, 1));
    --gradient2:linear-gradient(rgba(72, 81, 255, 1),rgba(240, 42, 166, 1));    
    /* FONT SIZING */
    /* weight = 800; */
    
    --headingXL:56px;
    --hlineXL:70px;

    --headingL:40px;
    --hlineL:51px;

    --headingM:32px;
    --hlineM:40px;

    --headingS:24px;
    --hlineS:32px;

    --headingXS:20px;
    --hlineXS:25px;

    /* weight = 500; */
    --bodyM:18px;
    --blineM:28px;

    --bodyS:16px;
    --blineS:26px;
}

html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    cursor: default;
}
/* HEADER */
header {
    width:100%;
    position:absolute;
    z-index:1;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  @media (min-width: 768px) {
    nav {
      height: 96px;
    }
  }
  @media (min-width: 992px) {
    nav{
      height: 104px;
    }
  }

/* LOGO */
.nav_logo, .footer_logo{
    width:86px;
    height:23px;
    display:inline-block;
}
.nav_logo img, .footer_logo img{
    width:100%;
    display:block;
}

@media(min-width:992px){
    .nav_logo, .footer_logo {
        width:112px;
        height:29px;   
    } 
}

/* TYPE */
.hero_header{
    font-size: var(--headingL);
    line-height:var(--hlineL);
    color:var(--dark);
    font-weight:800;
}
.courses_header{
    font-size: var(--headingS);
    line-height:var(--hlineS);
    color:white;
    font-weight:800;
    padding-top:24px;
    padding-bottom:16px;
}
.course_name{
    font-size: var(--headingXS);
    line-height:var(--hlineXS);
    color:var(--dark);
    font-weight:800;
}
.hero_about, .course_about{
    font-size:var(--bodyS);
    line-height: var(--blineS);
    color:var(--light);
    font-weight:500;
}


@media (min-width:992px){
    .hero_header{
        font-size: var(--headingXL);
        line-height:var(--hlineXL);
    }
    .courses_header{
        font-size: var(--headingM);
        line-height:var(--hlineM);
    }
    .course_name{
        font-size: var(--headingS);
        line-height:var(--hlineS);
    }
    .hero_about, .course_about{
        font-size:var(--bodyM);
        line-height: var(--blineM);
    }
}
/* CTA & LINKS */

a {
    text-decoration:none;
    border:0;
}

.cta{
    width: 140px;
    height: 48px;
    font-size:var(--bodyS);
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    color:white;
    outline: none;
}

nav .cta {
    background:var(--dark);
}
nav .cta:hover{
    background:var(--dark-hover);
}

.hero_text .cta{
    width: 167px;
    height: 56px;
    border-radius: 31.5px;
    background:var(--gradient1)
}
.hero_text .cta:hover{
    background:linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
    ), var(--gradient1);
}

footer .cta{
    background:var(--gradient2);
}
footer .cta:hover{
    background:linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
    ),var(--gradient2);
}
@media (min-width: 992px) {
    .cta {
      width: 167px;
      height: 56px;
      font-size:var(--bodyM);
    }
    .hero_text .cta {
      height: 63px;
    }
  }

.course_start{
    font-size:var(--bodyM);
    line-height:var(--blineM);
    font-weight:700;
    color:var(--accent);
    padding-bottom:32px;
}
.course_start:hover{
    color:var(--accent-hover);
}


nav,.hero_container,.courses_container, .footer_box {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 375px), (min-width:375px) {
    nav,.hero_container,.courses_container, .footer_box {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 576px) {
    nav,.hero_container,.courses_container, .footer_box {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  @media (min-width: 768px) {
    nav,.hero_container,.courses_container, .footer_box {
      width: 689px;
      padding-left: 0px;
      padding-right: 0px;
      
    }
  }
  @media (min-width: 992px) {
    nav,.hero_container,.courses_container, .footer_box  {
      width: 892px;
    }
  }
  @media (min-width: 1200px) {
    nav,.hero_container,.courses_container, .footer_box {
      width: 1110px;
    }
  }

/* HERO */
.hero {
    padding-top: 80px;
    overflow: hidden;
  }
.hero_container {
    padding-top: 22px;
    display: flex;
    flex-direction: column;
} 
.hero_header{
    max-width: 326px;
}
.hero_about{
    max-width: 400px;
    padding: 26px 0px 24px 0px;   
}

.hero_img {
    max-width: 370px;
    margin-top: 28px;
    align-self: center;
}

.hero_img img {
    width: 125%;
    height: 100%;
    object-fit: contain;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 768px) {
    .hero {
      padding-top: 96px;
      padding-bottom:18px;
    }
    .hero_container {
      padding-top: 75px;
      padding-bottom: 188px;
      position: relative;
    }
    .hero_img {
      min-width: 695px;
      height: 723px;
      margin-top:0;
      position: absolute;
      left: 48%;
      bottom: 10px;
    }
    .hero_img img {
      width: 100%;
    }
  }
  
@media (min-width: 992px) {
    .hero_header{
      max-width: 500px;
    }
    .hero_about {
      max-width: 445px;
      padding: 29px 0 40px;
    }
    .hero_img {
      min-width: 870px;
      height: 938px;
      bottom: -10px;
    }
}
@media (min-width: 1200px) {
    .hero{
      padding-top: 104px;
    }
    .hero_img {
      left:58%;
      bottom: 0;
    }
  }
  @media (min-width: 1400px) {
    .hero_container {
      padding-top: 148px;
      padding-bottom: 180px;
    }
    .hero_img {
      min-width: 1046px;
      left:51%;
    }
}

/* COURSES */
.courses{
    background:linear-gradient(rgba(255, 255, 255, 1),rgba(240, 241, 255, 1));
}
.courses_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 11px;
    padding-bottom: 80px;
}
.card{
    max-width: 339px;
    border-radius: 10px;
    box-shadow:0px 25px 50px rgba(6, 22, 141, 0.0442);
    background: white;
    padding: 0 26px 32px 28px ;
}
.courses_header_card{
    background:var(--gradient1);
    padding: 24px 28px 32px;
}
.courses_header{
    max-width: 286px;
}
.icon{
    margin-top:-24px;
}
.course_name{
  padding-top: 24px;
  margin-top:-2px;
}
.course_about{
    padding-top: 16px;
    padding-bottom: 24px;
}

@media (min-width: 768px) {
    .courses_container {
      padding-bottom: 85px;
      gap: 56px 11px;
    }
    .card {
      padding: 0 20px 32px 32px;
    }
    .courses_header{
      padding-top:56px;
    }
    .course_name{
      margin-top:-2px;
    }
}
@media (min-width: 992px) {
    .courses_container {
      gap: 80px 30px;
      padding-top: 32px;
      padding-bottom: 140px;
    }
    .card {
      max-width: 350px;
      min-height: 322px;
      padding: 0 32px 40px;
      border-radius: 15px;
    }
    .course_name{
    padding-top: 32px;
    }
    .course_about{
      padding-top: 24px;
    }
  }

  @media (min-width: 1400px) {
    .courses_container {
      padding-top: 72px;
    }
    .courses_header{
      padding-top:64px;
    }
  }

/* FOOTER */
footer{
    background:var(--dark);

}
.footer_box{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}